
body{
    background:url("../img/149782-contorno-tiramisu-padrao-bolo-vector-livre-vetor.jpg");
}
#header h1{
    justify-content: center;
    display: flex;
   font-weight: 900;
   color: white;
}
   
.menu {
    background: linear-gradient(90deg, rgba(255, 192, 203, 1) 0%, rgba(255, 105, 180, 1) 100%);
    padding: 15px;
    display: flex;
    justify-content: space-around;
}
   
  
  .menu li {
    display: inline-block;
    margin-right: 10px; /* Espaço entre os itens */
    list-style: none;
    padding-right: 20px;
    font-size: 25px ;
    

    
   
    
  }
  .menu a{
    text-decoration: none;
    color: rgb(240, 228, 235);
    
  }

  .menu a:hover {
    color: rgb(228, 23, 142); /* Cor do texto ao passar o mouse */
    transform: scale(1.20); /* Aumenta o tamanho do link ao passar o mouse */
  }

  .flex-container {
    display: flex; /* Define o contêiner como flexbox */
    align-items: center; /* Alinha os itens ao centro verticalmente */
    justify-content: center; /* Centraliza o conteúdo */
    gap: 20px; /* Espaço entre os itens */
    padding-bottom: 200px;
}

.inicio {
    margin-top: 180px;
    padding: 0;
    display: flex; /* Define .inicio como flexbox */
    align-items: center; /* Alinha os itens ao centro verticalmente */
}

.inicio img {
    margin-left: 120px;
    max-width: 100%; /* Garante que a imagem não exceda o tamanho do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 50%;
}

.inicio h2, .inicio p {
    color: white;
    padding-left: 40px;
}
.inicio p{
   font-size: 35px;
}

.inicio h2{
    font-size: 45px;
}
.cardapio h2 {
    color: white;
    font-size: 25px;
}


.cardapio span{
    font-size: 25px;
    color: white;
    
}



 .bloco{
        background: white;
        gap: 20px;
        

    }
    .cardapio {
        padding: 20px;
        background-color: #f9f9f900;
    }
    
    .container {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-left: 300px;
        margin-right: 200px;
        justify-content: center; /* Centraliza a grade */
        padding: 0 20px; /* Adiciona algum padding lateral para responsividade */
    }
    
    .grid-item {
        background-color: rgb(252, 127, 231);
        padding: 20px;
        border: 1px solid #030101fa;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        text-align: center;
        width: 400px; /* largura  */
        height: auto; /* altura */
      

    }
    
    .grid-item img {
        max-width: 400px;
        height: 450px;
        width: 450px;
        margin-bottom: 10px;
        border-radius: 10px;
       
    }
    
    .grid-item p {
        margin: 0;
        font-size: 14px;
        color: #333;
        font-size: 19px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .button-link{
        color: white;
        text-decoration: none;
        font-size: 30px;
        padding-left: 100px;


    }